<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="{{url_for('pages.home')}}" class="pure-menu-link">Home</a>
         </li>
        <li class="pure-menu-item">
        <a href="{{url_for('pages.test_paper')}}" class="pure-menu-link">Test Paper</a>
     </li>
     <li class="pure-menu-item">
        <a href="{{url_for('pages.quiz')}}" class="pure-menu-link">Quiz</a>
     </li>
     <li class="pure-menu-item">
        <a href="{{url_for('pages.about')}}" class="pure-menu-link">About</a>
     </li>  
      <li class="pure-menu-item">
            <a href="{{url_for('pages.help')}}" class="pure-menu-link">Help</a>
        </li>
        <li class="pure-menu-item">
            <a href="{{url_for('pages.logout')}}" class="pure-menu-link">Logout</a>
        </li>
    </ul>
  </div>