<!DOCTYPE html>
<html lang="en">
<head>
  <title>NanQuiz - {% block title %}NanQuiz{% endblock title %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/base-min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>
<body>      
  <div class="header">
    <h1>NanQuiz</h1>
    <h4>Get Quizzical</h4>
  </div>
<section>
  <header>
    {% block header %}
    {% endblock header %}
  </header>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</section>
</body>
</html>