{% extends 'base.html' %}

{% block header %}
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  {% include("_nav_quiz.html") %}  
  <h2>{% block title %}Quiz{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<p>Add questions and options.</p>
<form class="pure-form" method="post" action="#">
    <fieldset>
    <table align="center" width="50%" class="pure-table">
        <tr>
            <td><label for="category">Choose category</label></td>
            <td><select id="category" name="category">
                <option>Class 2</option>
                <option>Class 3</option>
                <option>Class 4</option>
            </select></td>
        </tr>
        <tr>
            <td><label for="topic">Choose topic</label></td>
            <td><select id="topic" name="topic">
                <option>Maths</option>
                <option>Science</option>
                <option>English</option>
            </select>
        </td>
        </tr>
    </table>
    <hr>
    <table align="center">
        <tr>
            <th>S.No.</th><th>Test Paper</th><th>Select</th>
        </tr>
        <tr>
            <td>1</td><td>What is 1+1?</td><td><input type="checkbox"></td>
        </tr>
        <tr><td colspan="2"><input type="submit" value="Activate"></td></tr>
    </table>
    </fieldset>
</form>

{% endblock content %}