{% extends 'base.html' %}

{% block header %}
  <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
  {% include("_nav_login.html") %}  
  <h2>{% block title %}Registration{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<form class="pure-form" action="#">
    <table align="center">
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" id="name" name="name" placeholder="Name" /></td>
        </tr>
        <tr>
            <td><label for="email">Email</label></td>
            <td><input type="email" id="email" name="email" placeholder="Email" /></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" id="password" name="password" placeholder="Password" /></td>
        </tr>
        <tr>
            <td><label for="type">Type</label></td>
            <td><input type="text" id="type" name="type" placeholder="admin, user" /></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" class="pure-button pure-button-primary">Register</button>
            </td>
        </tr>
    </table>
</form>
{% endblock content %}